{% load i18n static %}
<html>
  <head>
    <title>Pick Image</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/resources/gallery.css" %}"/>
    <script type="text/javascript" src="{% static "admin/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/gallery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/gallery.picker.js" %}"></script>
  </head>
  <body>

 <div id="content"{% block contentclasses %}{% endblock %}>
  <div class="wrapper">
    <div id="left-column">
      {% include "resources/resource_icons.html" with limit=20 %}
    </div>
  </div>
 </div>

  </body>
  </html>
