/* License: AGPLv3 or later (http://www.gnu.org/licenses/), Copyright 2015, Jabiertxof <jtx@jtx.marker.es> */
.notes {
  min-height: 200px;
  margin: 12px 0px;
  border: 1px dotted #eee;
  background: #FFF none repeat scroll 0% 0%;
  overflow: hidden;
  padding: 8px 14px !important;
}

.contribute {
  font-size: 1.5em;
  line-height: 110%;
  font-weight: bold;
  display: inline-block;
  padding: 0.5em;
  width: 180px;
  margin: 1em auto;
  text-align: center;
  box-sizing: content-box;
}

.contribute > span {
  display: inline-block;
  margin: 0.5em auto;
}